.login-container {
    width: 400px;
    height: auto;
    margin: 150px auto;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    display: block;
  }

.login-input {
    width: 350px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.login-button {
    width: 350px;
    padding: 10px;
    background-color: #5ea3e2;
    color: white;
    border: none;
    cursor: pointer;
  }
  
.login-button:hover {
    background-color: #3971b2;
  }